version: '3'
services:
  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - "6379:6379"
    volumes:
      - ./data:/data
    restart: always
  
  mongodb:
    image: mongo:latest
    container_name: csdltt_mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_password
    restart: always

  postgresql:
    image: postgres:latest
    container_name: postgresql
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_DB: mycompany
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: db_password
    restart: always

volumes:
  mongodb_data:
  postgres_data: