services:
  mongo-primary:
    image: mongo:5.0
    container_name: mongo-primary
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27027:27017"
    volumes:
      - mongo-primary-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

  mongo-secondary:
    image: mongo:5.0
    container_name: mongo-secondary
    command: ["--replSet", "rs0", "--bind_ip_all"]
    ports:
      - "27028:27017"
    volumes:
      - mongo-secondary-data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

  # Service này chỉ chạy một lần để cấu hình replica set
  mongo-setup:
    image: mongo:5.0
    container_name: mongo-setup
    depends_on:
      mongo-primary:
        condition: service_healthy
      mongo-secondary:
        condition: service_healthy
    restart: "no"
    command: 
      - "mongo"
      - "--host"
      - "mongo-primary"
      - "--port"
      - "27017"
      - "--eval"
      - 'rs.initiate({_id: "rs0", members: [{_id: 0, host: "mongo-primary:27017", priority: 2}, {_id: 1, host: "mongo-secondary:27017", priority: 0, secondaryDelaySecs: 20, hidden: false}]})'

volumes:
  mongo-primary-data:
  mongo-secondary-data:
